<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tests</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div th:replace="navbar::navbar-student"></div>
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card text-center">
          <div>
            <p>Your tests appear here!</p>
            <div>
              <a
                class="btn btn-primary secbtn"
                th:href="@{/student/tests/upcomimg/}"
                >Upcomimg Tests</a
              >
            </div>
            <br />
            <div>
              <a
                class="btn btn-primary secbtn"
                th:href="@{/student/tests/previous/}"
                >Previous Tests</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
