<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Notes</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div th:replace="navbar::navbar-teacher"></div>
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card text-center">
          <a
            class="btn btn-info"
            th:href="@{/teacher/courses/mycourses/__${courseId}__/notes/add/}"
            >Add new Notes</a
          >
          <br />
          <br />
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Title</th>
                <th>Course Name</th>
                <th>Date Added</th>
                <th>Edit</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="note:${allNotes}">
                <td th:text="${note.title}"></td>
                <td th:text="${courseMap[note.courseId]}"></td>
                <td th:text="${note.date}"></td>
                <td>
                  <a
                    class="btn btn-info"
                    th:href="@{/teacher/courses/mycourses/__${courseId}__/notes/edit/__${note.id}__/}"
                    >Edit</a
                  >
                </td>
                <td>
                  <a
                    class="btn btn-danger"
                    th:href="@{/teacher/courses/mycourses/__${courseId}__/notes/remove/__${note.id}__/}"
                    >Remove</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
